<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <i>
    <p>Hi <%= @mail_information['first_name'] %>,</p>
    <p>
      Welcome to CMP!
    </p>
    <p>
      Congratulations!!! :) Your account has been successfully created and all we need now is your final confirmation to activate your access.
    </p>
    <p>

    </p>
    <p>
      Its simple! Just click the link below, fill in some details so we get to know you better, set up a secure password and come on right in!
    </p>
    <p>
      Activation Link - <%= @mail_information['link'] %>
    </p>

    <p>
    </p>
  </p>
  If you are having any issues on gaining access to your account, or if the link does not seem to work for you, please let me know and I will get my Tech Camiedians to assist you promptly.


</p>
</p>

</p>




<p>
  Glad to have you on board the platform and see you on the inside!!!


</p>

<p>

</p>
<p>
  Best Regards,
</p>
<p>
  CamieMail  :)
</p>
<p>

</p>

<p>
  Always keeping you informed on your Adcamie account to build a trusted efficient partnership together.

</p>
<p>

</p>
<p>

</p>
</i>
</body>
</html>
